* {
	margin: 0;
	padding: 0;
}

body {
	padding-top: 50px;
}

header {

}
h1, h2, h3, h4, h5, h6 {
	    font-family: 'Roboto', sans-serif;
}
#main-menu {
	margin: 0px;
	box-sizing: border-box;
	border-radius: 0px;
	background: rgba(255, 255, 255, 0.9) !important; 
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	border-color: #f8f8f8 !important;
}
	#main-menu .navbar-default {
		box-sizing: border-box;
	    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
	    color: black;
	}
	.navbar {
		min-height: 65px;
		/*height: 65px;*/
		box-sizing: border-box;
	}
	.navbar-header {
		padding-top: 10px;
		padding-bottom: 10px;
	}
		.navbar-brand {
			color: black !important;
			font-weight: bold;
			font-size: 200%;
		}
	.nav {

	}
	ul.nav li {
		box-sizing: border-box;
		border-bottom: 3px solid #fff;
	}
	ul.nav li a {
		padding-top: 20px;
		padding-bottom: 27px;
		/*border-top: 3px solid #fff;*/
	}
	ul.nav li:hover {
		border-bottom: 3px solid red;
	}
li.active{
	border-bottom: 3px solid red !important;
	background: #fff !important;
}
/*begin slide*/
.line-horizontal {
    height: 10px;
    border-bottom: 3px solid #dc3401;
    max-width: 450px;
    margin: auto;
}
#main-slide {
	box-sizing: border-box;
	width: 100%;
}
	#main-slide .title-slide {
	    text-transform: uppercase;
	    color: #45e81e;
	    font-size: 45px;
	    font-weight: 500;
	}
	#main-slide .item {
		max-height: 565px;
		height: 565px;
	}
	#main-slide .item img {
		min-width: 100%;
		max-height: 100%;
		min-height: 100%;
	}

	#main-slider .carousel-control {
		/*position: absolute;
	    top: 50%;
	    background-color: rgba(0, 0, 0, 0.2);
	    color: #fff;
	    font-size: 30px;
	    display: inline-block;
	    margin-top: -35px;
	    height: 70px;
	    width: 70px;
	    line-height: 70px;
	    text-align: center;
	    border-radius: 100px;
	    z-index: 5;
	    -webkit-transition: background-color 400ms;
	    transition: background-color 400ms;*/
	}

	#main-slider .btn-prev, #main-slider .btn-next {
	    
	}
	#main-slider .btn-prev {
		left: 0px;
	}
	#main-slider .btn-next {
		right: 0px;
	}

/*end main slide*/

/*lightbox*/
#lightbox .modal-content {
    display: inline-block;
    text-align: center; 
    margin: 0 auto;  
}
#lightbox .modal-content img {
	/*min-height: 500px;*/
}
a.thumbnail-modal img{

	min-height: 350px;
	max-height: 350px;
	min-width: 100%;
}
#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;
    
    z-index:1032;
}
/*end kết thúc block màu đen*/


.panel-grid {
	margin-top: 0px;
}
	.panel-grid .panel-grid-heading .title-panel {
		text-align: center;
	    padding: 30px 0;
	    padding-top: 0;
		color: #1170b9 !important;
	    font-size: 30px;
	    text-transform: uppercase;
        font-weight: 600;
	}
	.panel-grid .panel-content img {
		max-width: 100%;
		min-width: 100%;
		max-height: 450px;
		cursor: pointer;
	}
	.panel-content iframe {
		margin-top: 20px;
	}

.box-module {
	margin-top: 80px;
	margin-bottom: 20px;
}
	.panel-content .sdd_module-1 {
		background: #fff;
		position: relative;
	    padding-top: 115px;
        background-color: #fbfbfb;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px;
	}
	.panel-content .sdd_module-1 img {
		width: 180px !important;
		height: 180px !important;
		min-height: 180px !important;
		min-width: 180px !important;
	    border-radius: 50%;
	    border: 2px solid #167ac6;
	    position: absolute;
	    top: -80px;
	    left: 25%;
	}
	.title-module-1 {
	    font-weight: bold;
	    color: #333;
	    text-align: center;
	    font-size: 18px;
	}
	.describe-module-1 {
	    text-align: center;
	    color: #696969;
	    font-size: 15px;
	    font-style: italic;
	    margin-top: 10px;
	}

#thanh-vien-lop {
	/*border: 1px dashed red;*/
	margin-top: 20px;
	transition: all .3s;
    -webkit-box-shadow: 0 0px 10px rgba(0,40,53,.3);
    -moz-box-shadow: 0 0px 10px rgba(0,40,53,.3);
    box-shadow: 0 0px 10px rgba(0,40,53,.3);
}

	/*viết thêm thành viên trong lơp*/
	.borderitem {
	    transition: all .3s;
	    -webkit-box-shadow: 0 0 5px rgba(0,40,53,.3);
	    -moz-box-shadow: 0 0 5px rgba(0,40,53,.3);
	    box-shadow: 0 0 5px rgba(0,40,53,.3);
	    margin-bottom: 20px;
	    max-height: 360px;
	    height: 360px;
	    position: relative;
	}

		.borderitem>.image-course {
		    min-height: 100px;
		}
		.borderitem .title {
			text-align: center;
		}
	.image-course {
	    position: relative;
	    height: 240px;
	}
	.image-course img {
		position: absolute;
		display: block;
	    max-width: 100%;
	    height: 100%;
	    min-width: 100%;
	    max-height: 100%;
	    min-height: 100%;
	    cursor: pointer;
	}

		.borderitem>.info-course {
		    padding: 10px;
		    min-height: 120px;
	        max-height: 120px;
		    width: 100%;
		    position: absolute;
		    bottom: 0%;
		    background: #fff;
		}
		.borderitem:hover {
			-webkit-box-shadow: 0 5px 10px rgba(0,40,53,.3);
		    -moz-box-shadow: 0 5px 10px rgba(0,40,53,.3);
		    box-shadow: 0 5px 10px rgba(0,40,53,.3);
		}
#cam-nhan-giao-vien {
	width: 100%;
	margin-top: 20px;
	/*border-top: 1px dashed red;*/
    background: rgb(227, 234, 237);
    /*padding: 30px 0;*/
}

footer {
	background: #563d7c;
	margin-bottom: 0px;
}
#footer {
	/*margin-top: 20px;*/
	margin-bottom: 0px;
    background: #365899 !important;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #c7c7c7 !important;
}
	.info {
		font-size: 15px;
	    padding-top: 20px;
	    color: #fff;
	    font-weight: 600;
	}
		.info .tt {
			font-size: 150%;
		}
	#coppyright {
		background: #563d7c;
		color: #fff;
		font-size: 120%;
		font-weight: bold;
	}